  <!-- version: 1.00 -->
  <!-- file name: semaphore01.html -->
  <!-- mechatronic Flask web interface - a page template for the custom semaphore flagging demo  -->
  <!-- 'invokes' layout.html for the overall layout -->
  <!-- and uses a 'partial' to insert the common HTML for returning to the select options -->
  <!-- Author: Enmore -->
  <!-- Date: 220124 -->

{% extends 'layout.html' %}

{% block content %}

  <div class="container">

    <!-- 1st row of the servo options interface:     -->
	<div class="first row">
      <h5 align="center">Update message to be 'flagged'</h5>	  
	  	<form action="/custom/custom1_update" method="get" >
      		<div  style="margin-top: 3px;  padding-left: 14%; padding-right: 15%; text-align: center; font-size: 14px; width: 70%; ">
            Current message: <input name="msgsem" size="30" type="text" value='{{ sem_message }}' />
        &nbsp; &nbsp; <input name="submit" type="submit" value='update' /> &nbsp;
      		</div>
	  	</form>	

    </div>

    <!-- 2nd row of the servo options interface:     -->
	<div class="second row" style="margin-top: 0;">

      {% if warnweb|length > 0 %}
	  <div style="margin-top: 3%; width: auto; padding-left: 10%; padding-right: 10%; text-align:center">
        <h5 style="margin-bottom: 0;">{{warnweb}}</h5>
      </div>
	  {% endif %}
      <div class="one-quarter column" style="margin-top: 1%; margin-left: 25%;">
        <a class="button button-primary u-full-width" href="/custom/custom1_send">Flag message</a>
      </div>
	  <div class="one-quarter column" style="margin-top: 1%; margin-left: 5%;">
        <a class="button button-primary u-full-width" href="/custom/custom1_stop">Stop messaging</a>
      </div>

    </div>

    <!-- 3rd row of the servo options interface:     -->
	<div class="third row">


    </div>

    {% include 'back_to_custom_insert.html' %}

    {% include 'select_insert.html' %}

  </div>

{% endblock %}