  <!-- version: 1.00 -->
  <!-- file name: select_insert.html -->
  <!-- mechatronic Flask web interface - a 'partial' template for insertion in other pages  -->
  <!--  to provide the HTML to go back to the main option selection web page -->
  <!-- Author: Enmore -->
  <!-- Date: 220124 -->

  	<!-- end row of a page template: select new mode -->
	<div class="end row">
      <div class="one-third column" style="margin-top: 3%; margin-left: 2%;">
      </div>
      <div class="one-third column" style="width: 40%; margin-top: 3%; margin-left: -2%;">
        <a class="button button-primary u-full-width" href="/custom/custom_list">Back to custom object list</a>
      </div>
      <div class="one-third column" style="margin-top: 3%; margin-left: 2%;">
      </div>
    </div>