  <!-- version: 1.00 -->
  <!-- file name: obj_type_choose.html -->
  <!-- mechatronic Flask web interface - a page template for selecting and running the various object types  -->
  <!-- 'invokes' layout.html for the overall layout -->
  <!-- and uses a 'partial' to insert the common HTML for returning to the select options -->
  <!-- Author: Enmore -->
  <!-- Date: 220127 -->

{% extends 'layout.html' %}

{% block content %}

  <div class="container">

    <!-- 1st row of the object type selection interface: stepper objects    -->
	<div class="first row">
      <div style="margin-top: 3%; width: auto; padding-left: 25%; padding-right: 25%;">
        <a class="button button-primary u-full-width" href="/maintenance/object_type_stepper">stepper motor objects</a>
      </div>
    </div>

    <!-- 2nd row of the object type selection interface: servo objects     -->
	<div class="second row">
      <div style="margin-top: 3%; width: auto; padding-left: 25%; padding-right: 25%;">
        <a class="button button-primary u-full-width" href="/maintenance/object_type_servo">servo motor objects</a>
      </div>
    </div>
	
	<!-- 3rd row of the object type selection interface: drive objects     -->
	{% if build[0:4] ==  "RPi4" %}
	<div class="third row">
      <div style="margin-top: 3%; width: auto; padding-left: 25%; padding-right: 25%;">
        <a class="button button-primary u-full-width" href="/maintenance/object_type_mdrive">drive motor objects</a>
      </div>
    </div>
   {% endif %}	

    <!-- 4th row of the object type selection interface: web warnings   -->
	<div class="fourth row" style="margin-top: px; margin-bottom: 50px;">

      {% if warnweb|length > 0 %}
	  <div style="margin-top: 1%; width: auto; padding-left: 10%; padding-right: 10%; text-align:center">
        <h5 style="margin-bottom: 0;">{{warnweb}}</h5>
      </div>
	  {% endif %}

    </div>

    <hr>
	
	{% include 'back_to_maintain.html' %}

    {% include 'select_insert.html' %}

  </div>

{% endblock %}